<footer class="footer text-center pt-2 bg-primary text-light border-top border-1 border-primary">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <%= cl_image_tag('logo-blanc-st_lfsacg', alt: 'Logo complet', class: 'img-fluid mb-2', style: 'max-width: 6rem;') %>
    </div>
    <div>
      <p>&copy; <span id="currentYear"></span> Ossau Design. Tous droits réservés. | <a href="#mentionsLegalesModal" class="text-light" data-bs-toggle="modal">Mentions Légales</a></p>
    </div>
    <div>
      <a href="<%= new_user_session_path %>" class="text-light" title="Connexion Admin">
        <i class="fa fa-user-circle fa-lg"></i>
      </a>
    </div>
  </div>
</footer>
<!-- Modale pour afficher les mentions légales -->
<div class="modal fade" id="mentionsLegalesModal" tabindex="-1" aria-labelledby="mentionsLegalesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="mentionsLegalesLabel">Mentions Légales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'shared/mentions' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Mettre à jour l'année actuelle
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
