<footer class="footer text-center pt-4" style="background-color: #333333; color: #F8F9F9;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; <span id="currentYear"></span> Ossau Design. Tous droits réservés. | <a href="/mentions-legales" class="text-white">Mentions Légales</a></p>
      </div>
      <div class="col-md-6">
        <a href="<%= new_user_session_path %>" class="text-white" title="Connexion Admin">
          <i class="fa fa-user-circle fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<script>
  // Mettre à jour l'année actuelle
  document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
