.object-fit-cover-slider-home{
  object-fit: cover;
  width: 100%;
  height: 450px;

}

.slider-size{
  width: 100%;

}

.card-img-top:hover {

  transform: scale(1.02);
  transition: transform 0.5s;

}
