.navbar-sticky {
  position: sticky;
  top: -100px; /* Cache la navbar lors du scroll vers le bas */
  transition: top 0.3s;
  z-index: 1030;
}

.navbar-visible {
  top: 0; /* Affiche la navbar lorsqu'on remonte */
}
